@font-face {
  font-family: 'forgettica';
  src: url("media/SansForgetica-Regular.otf");
}
html {
  margin: 0;
}
body {
  margin: 0;
  overflow-x: hidden;
  background-image: url();
}


#title {
  color: black;
  font-style: italic;
  font-weight: bold;
  font-family: arial;
  font-size: 100px;
  margin-top: -5px;
  margin-bottom: -5px;
  text-align: center;
}
h1 {
  color: white;
  font-family: arial;
  font-style: italic;
  font-size: 80px;
  margin: -28px;
  margin-bottom: 6px;
  text-align: center;
}
h2 {
  font-weight: bold;
  font-style: normal;
  padding: 0 5px;
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
}
h3 {
  font-style: ;
  font-family: 'forgettica';
  font-size: 60px;
  margin-top: -40px;
  margin-left: 205px;
  text-align: center;
}

.world {
  display: inline-flex;
  margin: 190px 0px 0px 10px;
  font-size: 25px;
  font-family: arial;
  font-style: italic;
  font-weight: bolder;
}

p {
  font-size: 20px;
  font-family: arial;
  color: black;
  padding-left: 50px;
  padding-right: 30px;
  max-width: 550px;
}

/*links */
a {
  color: #A2A2A2;
  text-decoration: none;
  font-style: normal;
  text-shadow: 2px;
}
/*Page Highligted*/
#current {
  color: black;
}
/*second page title*/
.secondtitle {
  font-style: italic;
  font-weight: bold;
  font-family: arial;
  font-size: 40px;
  display: inline-block;
  color: black;
  margin: -10px;
}

.thirdtitle {
  font-style: italic;
  font-weight: bold;
  font-family: arial;
  font-size: 40px;
  margin-left: 8px;
  margin-top: 8px;
  display: inline;
  color: rgba(0, 0, 0, 0.3);
}
/* Wrap and div for index menu */
.wrap {
  text-align: center;
  margin:-10px 7px 0px 15px;
}

.index {
  display: inline;
  position: relative;
  float: inherit;
  text-align: center;
  font-style: italic;
  font-family: arial;
  font-size: 20px;
  color: #A2A2A2;

}
/*BUTTON MENU FOR CREATIVE COLLECTIVE*/
/* The button settings for dropdown menu */
.dropbtn {
    color: #A2A2A2;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    margin: 0 -10px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-style: arial;
    font-weight: bold;
    font-size: 17px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 168px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #a2a2a2;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ddd;}

/* SOCIAL MEDIA ICONS*/
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 48%;
  margin-left: 10px ;


}

/* Style the icon bar links */
.icon-bar a{
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: #a2a2a2;
  font-size: 20px;
  margin: 2px;
  position: relative;
  top: -130px;
  right: 10px;
}
/* Style the social media icons with color, if you want */

.icon-bar a:hover {
  background-color: #eee;
}

.facebook {
  color: #a2a2a2;
}

.instagram {
  color: #a2a2a2;
}

.soundcloud {
  color: #a2a2a2;
}

.youtube {
  color: #a2a2a2;
}
/* GALLERY*/
.gallery {
    margin:2% 10% 0px;
    text-align: center;
  }
  .container {
    max-width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
  }

    #photos {
       /* Prevent vertical gaps */
       line-height:0;
       -webkit-column-count: 5;
       -webkit-column-gap:   10px;
       -moz-column-count:    5;
       -moz-column-gap:      10px;
       column-count:         5;
       column-gap:           10px;

    }
    #photos img {
      /* Just in case there are inline attributes */
      max-width: 100% ;
      max-height: 100%;
      margin: 5px;
      display: inline;
    }

    @media (max-width: 1800px) {
      #photos {
      -moz-column-count:    4;
      -webkit-column-count: 4;
      column-count:         4;
      }
    }
    @media (max-width: 1000) {
      #photos {
      -moz-column-count:    3;
      -webkit-column-count: 3;
      column-count:         3;
      }
    }
    @media (max-width: 700px) {
      #photos {
      -moz-column-count:    2;
      -webkit-column-count: 2;
      column-count:         2;
      }
    }
    @media (max-width: 500px) {
      #photos {
      -moz-column-count:    1;
      -webkit-column-count: 1;
      column-count:         1;
      }
    }
    @media (max-width: 300px) {
      #photos {
      -moz-column-count:    0;
      -webkit-column-count: 0;
      column-count:         0;
      }
    }

/*contribute*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */
    border: 1px solid #black; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical;  /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #00000;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input[type="text"]
{
  width: 90%;
  border: 0px solid #ccc;
  background: #FFF;
  margin: 0 0 0px;
  padding: 10px;
}
#contact input[type="email"],
#contact input[type="url"] {
  width: 86%;
  border: 0px solid #ccc;
  background: #FFF;
  margin: 0 0 0px;
  padding: 10px;
}
#contact textarea {
  width: 90%;
  border: 0px solid #ccc;
  background: #FFF;
  margin: 5 15 0px;
  padding: 25px;
}

.contact-form {
  padding: 0px;
  width: 500px;
  margin: auto;
  display: block;
  max-width: 400px;
}
.contribute {
  font-size: 30px;
  margin-top: 60px;
  color
}
#name {
  margin: -150px;
}
#mail{
  margin-top: 30px;
}
#message{
  font-family: arial;
}


/*Label Font*/
button {
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
}


/* SPOTIFY */
iframe   {
  max-width: 400px !important;
  max-height: 600px !important;
  margin-top: 30px;
  display: inline-block;
  line-height: 0;

}
.spotifycontainer {
  align-items: center;
  margin: auto;
}

  .spotify {
    max-width: 1800px;
    height: 100%;
    margin-top: 120px;
    display: inline-flex;
  }

      .embed-container3 {
        max-width: 1500px
          #photos {
          -moz-column-count:    3;
          -webkit-column-count: 3;
          column-count:         3;
          }
        }
      .embed-container2 {
        max-width: 1100px
          #photos {
          -moz-column-count:    2;
          -webkit-column-count: 2;
          column-count:         2;
          }
        }
        .embed-container1 {
          max-width: 1000px
          #photos {
          -moz-column-count:    1;
          -webkit-column-count: 1;
          column-count:         1;
          }


.firstP {

}
.firstImg {
  max-width: 10px;
  height: auto;
}
